<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CanonChain Wallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

      <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
    <script>
      window.ondragover=function(e) { e.preventDefault(); return false };
      window.ondrop=function(e) { e.preventDefault(); return false };

      document.onkeydown = function(e){
        var keycode = e.keyCode;
        if(keycode == 116 || keycode == 13  ){
          e.preventDefault();
          return false;
        }
    };
    </script>
  </body>
</html>
